<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>HOME Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deserunt consequuntur magni veritatis molestiae perspiciatis adipisci impedit et autem natus. Voluptatem repellendus eveniet, totam exercitationem rerum recusandae repudiandae perferendis soluta.</p>
    <br>
    <button>CLick Me</button>
</body>
</html>