<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h2>Dice gives value: 
        <%=diceval%>
    </h2>
    <% if(diceval == 6) { %>
        <h3>Nice Play!! Role Dice AGAIN :) </h3>
    <% } %>
    
</body>
</html>