<%- include("includes/head.ejs") %>
<body>
    <div class="main-body">
        <div class="left-main">
            <div class="name">
                <h1 class="name">Tejwant Kaur</h1>
            </div>
            <div class="body-main">
                <h1>Hi I am Tejwant Kaur</h1>
                <p>Seeking a beginner role to enhance my knowledge that I have learned and explore abilities, skills, towards my duties to excel in the field of Development.</p>
            </div>
        </div>
        
        <div class="right-main">
            <div class="nav-btns">
                <button class="btn">Home</button>
                <button class="btn">Objective</button>
                <button class="btn">Projects</button>
                <button class="btn">Skills</button>
                <button class="btn">Education</button>
                <button class="btn" id="contact">Contact</button>
            </div>
        </div>
        
    </div>
    <script src="/app.js"></script>
    
</body>